* {
  margin: 0px;
  padding: 0px;
}

/* START HEADER SECTION ----------------------------------------*/
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 20;
}

.easybank-icon-container,
.easybank-header-button-container {
  width: 30%;
  text-align: center;
  max-height: 52px;
}

.easybank-menu-container {
  width: 30%;
  text-align: center;
  height: 100%;
}

.easybank-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.easybank-menu-category {
  align-self: flex-end;
  height: 100%;
}

.easybank-menu-link {
  display: inline-block;
  position: relative;
  line-height: 80px;
  overflow: hidden;
}

.easybank-menu-link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 4px;
}

.easybank-request-button {
  width: 160px;
  height: 45px;
}

.openMenu,
.closeMenu {
  display: none;
}

/* END HEADER SECTION ------------------------------------------*/
/* START COTENT SECTION ----------------------------------------*/
.content {
  max-width: 1440px;
  margin: 0px auto;
  overflow: hidden;
}

/* START MAIN SECTION ------------------------------------------*/
main {
  width: 100%;
  padding-top: 80px;
  margin: 0px auto;
}

.easybank-hero-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 657px;
}

.easybank-hero-info-container {
  width: 450px;
  margin-top: 180px;
  margin-left: 10%;
}

.easybank-hero-title,
.easybank-hero-desc {
  margin-bottom: 40px;
}

.easybank-hero-image-container {
  position: relative;
}

.easybank-hero-image {
  position: absolute;
  top: -118px;
  left: 127px;
}

/* END MAIN SECTION --------------------------------------------*/
/* START FEATURE SECTION ---------------------------------------*/
.easybank-feature-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 112px 10%;
}

.easybank-subtitle {
  margin-bottom: 40px;
}

.easybank-subtitle-info {
  width: 60%;
  margin-bottom: 77px;
}

.easybank-feature-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

.easybank-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 35px;
}

.easybank-card-container img {
  width: 72px;
  height: 72px;
  margin-bottom: 10px;
}

/* END FEATURE SECTION ---------------------------------------*/
/* START ARTICLE SECTION -------------------------------------*/
.easybank-article-container {
  padding: 95px 10%;
}

.easybank-article-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.easybank-article-box {
  width: 248px;
  height: 382px;
  border-radius: 6px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}

.easybank-article-image-wrapper {
  width: 100%;
  height: 50%;
  margin-bottom: 30px;
  overflow: hidden;
}

.easybank-article-image-wrapper img {
  height: 100%;
}

.easybank-article-author,
.easybank-article-title {
  margin-bottom: 15px;
}

.easybank-article-desc {
  margin-bottom: 25px;
}

/* END ARTICLE SECTION ---------------------------------------*/
/* END COTENT SECTION ----------------------------------------*/
/* START FOOTER SECTION ---------------------------------------*/
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 50px 10%;
}

.easybank-footer-col {
  width: 30%;
}

.col-left {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.easybank-footer-logo {
  width: 140px;
  height: 21px;
}

.easybank-social-icons-container svg {
  margin-right: 10px;
}

.col-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.easybank-footer-menu li {
  margin-bottom: 13px;
}

.col-right {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-between;
}

/* END FOOTER SECTION -----------------------------------------*/
@media (max-width: 1050px) {
  header {
    justify-content: space-between;
  }

  .easybank-icon-container {
    width: 20%;
  }

  .easybank-menu-container {
    position: absolute;
    top: 100px;
    width: 80%;
    height: auto;
    max-height: 0px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    overflow: hidden;
    z-index: 40;
    transition: max-height 300ms ease-in-out;
  }

  .easybank-menu {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .easybank-menu,
.easybank-menu-category,
.easybank-menu-link {
    width: 100%;
  }

  .easybank-menu-link {
    line-height: 45px;
  }

  .easybank-header-button-container {
    display: none;
  }

  .openMenu {
    display: block;
    margin-right: 3%;
  }

  /* HERO SECTION */
  main {
    width: 100%;
    padding-top: 120px;
    margin: 0px auto;
  }

  .easybank-hero-container {
    flex-direction: column-reverse;
    height: auto;
  }

  .easybank-hero-info-container {
    width: 80%;
    text-align: center;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .easybank-hero-image-container {
    display: block;
    text-align: center;
    width: 100%;
  }

  .easybank-hero-image {
    position: static;
    width: 90%;
    margin: 0px auto;
    margin-top: -160px;
  }

  /* FEATURE SECTION */
  .easybank-subtitle {
    text-align: center;
  }

  .easybank-subtitle-info {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 800px) {
  .easybank-feature-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .easybank-card-container {
    width: 320px;
  }

  .easybank-card-container img {
    margin: 0px auto;
  }

  /* ARTICLES SECTION */
  .easybank-article-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .easybank-article-box {
    width: 80%;
    height: auto;
  }

  .easybank-article-image-wrapper {
    height: auto;
  }

  .easybank-article-image-wrapper img {
    width: 100%;
    height: auto;
  }

  /* FOOTER SECTION */
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .easybank-footer-col {
    width: 80%;
  }

  .col-left {
    flex-direction: column;
  }

  .easybank-footer-logo {
    margin: 0px auto;
    margin-bottom: 40px;
  }

  .easybank-social-icons-container {
    margin-bottom: 40px;
  }

  .col-center {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .col-right {
    align-items: center;
  }

  .col-right .easybank-request-button {
    margin-bottom: 40px;
  }
}
@media (max-width: 375px) {
  /* HEADER SECTION */
  .easybank-icon-container {
    width: auto;
    margin-left: 20px;
  }

  .openMenu {
    margin-right: 5%;
  }

  /* HERO SECTION */
}

/*# sourceMappingURL=main.css.map */
