@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}
/* START HEADER SECTION --------------------------------------*/
header {
  background-color: #fff;
}
.easybank-menu {
  list-style-type: none;
}
.easybank-menu-link {
  color: #9698a6;
  text-decoration: none;
  transition: color 300ms ease-in-out;
}
.easybank-menu-link::before {
  background: #31d35c;
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}
.easybank-menu-link:hover {
  cursor: pointer;
  color: #2d314d;
}
.easybank-menu-link:hover::before {
  transform: translateX(0%);
}
.easybank-request-button {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  border: none;
  border-radius: 26px;
  background: #31d35c;
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 100%);
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.easybank-request-button:hover {
  cursor: pointer;
  opacity: 0.7;
}
/* END HEADER SECTION ----------------------------------------*/

/* START HERO SECTION ----------------------------------------*/
main {
  background-color: #fafafa;
  background-image: url(../media/images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: 520px -170px;
}
.easybank-hero-title {
  font-size: 58px;
  font-weight: 400;
  color: #2d314d;
}
.easybank-hero-desc {
  color: #9698a6;
  line-height: 1.5;
}
/* END HERO SECTION ------------------------------------------*/

/* START FEATURE SECTION -------------------------------------*/
.easybank-feature-container {
  background-color: #f4f5f7;
}
.easybank-subtitle {
  font-size: 40px;
  font-weight: 300;
  color: #2d314d;
}
.easybank-subtitle-info,
.easybank-card-desc {
  color: #9698a6;
  line-height: 1.5;
}
.easybank-card-title {
  font-size: 22px;
  font-weight: 400;
  color: #2d314d;
}
.easybank-card-desc {
  font-size: 16px;
}
/* END FEATURE SECTION ---------------------------------------*/

/* START ARTICLES SECTION ------------------------------------*/
.easybank-article-container {
  background-color: #fafafa;
}
.easybank-article-box {
  background-color: #fff;
}
.easybank-article-image-wrapper img {
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
.easybank-article-image-wrapper:hover img {
  transform: scale(1.1);
  opacity: 0.7;
  cursor: pointer;
}
.easybank-article-author {
  font-size: 10px;
  color: #9698a6;
  padding-left: 15px;
  padding-right: 15px;
}
.easybank-article-title {
  font-size: 16px;
  font-weight: 400;
  padding-left: 15px;
  padding-right: 15px;
}
.easybank-article-title a {
  color: #2d314d;
  text-decoration: none;
  transition: color 200ms ease-in-out;
}
.easybank-article-title a:hover {
  color: #31d35c;
}
.easybank-article-desc {
  font-size: 13px;
  color: #9698a6;
  line-height: 1.5;
  padding-left: 15px;
  padding-right: 15px;
}
/* END ARTICLES SECTION --------------------------------------*/

/* START FOOTER SECTION --------------------------------------*/
footer {
  background-color: #2d314d;
}
.easybank-social-icons-container svg path {
  transition: fill 300ms ease-in-out;
}
.easybank-social-icons-container svg:hover path {
  fill: #31d35c;
}
.easybank-social-icons-container svg:hover {
  cursor: pointer;
}
.easybank-footer-menu {
  list-style-type: none;
}
.easybank-footer-menu li a {
  font-size: 15px;
  font-weight: 300;
  color: #fafafa;
  text-decoration: none;
  transition: color 300ms ease-in-out;
}
.easybank-footer-menu li a:hover {
  color: #31d35c;
  cursor: pointer;
}
.easybank-copyright {
  font-size: 14px;
  color: #9698a6;
}
/* END FOOTER SECTION ----------------------------------------*/

@media (max-width: 1050px) {
  .easybank-menu-container {
    background-color: #fff;
  }
  .easybank-menu-link {
    color: #2d314d;
  }

  main {
    background-image: url(../media/images/bg-intro-mobile.svg);
    background-position: top right;
  }
}

@media (max-width: 800px) {
  .easybank-card-container {
    text-align: center;
  }
}

@media (max-width: 375px) {
  /* HERO SECTION */
  .easybank-hero-title {
    font-size: 38px;
  }
  .easybank-hero-desc {
    font-size: 14px;
  }
  /* FEATURE SECTION */
  .easybank-subtitle {
    font-size: 32px;
  }
  .easybank-subtitle-info {
    font-size: 14px;
  }

  /* ARTICLE SECTION */
  .easybank-article-box {
    width: 100%;
  }
}
